[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
torch = "*"
torchvision = "*"
tensorboard = "*"

[requires]
python_version = "3.6.9"

[scripts]
cpu = "python src/main.py"
gpu = "scripts/gpu.sh"
python = "scripts/python.sh"
bash = "scripts/bash.sh"
